body {
    background-color: #e6e6e6;
}

header {
    width: 100%;
    background-color: #181717;
    height: 400px;
    color: #f8f9fa;
}

main {
    width: 100%;
    max-width: 1280px;
    min-height: calc(100vh - 400px);
    background-color: white;
    padding: 8px;
}

a {
    color: #4472c4;
    text-decoration: none !important;
}

.card {
    color: #343a40;
    width: 300px;
    margin: 8px;
    transition: box-shadow .5s;
}

.card:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, .15);
}

.card-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.card-text {
    height: 80px;
    font-weight: lighter;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
    transition: .3s;
}

::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(140, 131, 136, 0.51);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
    display: none;
}